<div class="list-page__header">
  <div class="list-page__header-actions">
    <h2 class="list-page__title">
      {{ "KNOWLEDGEBASELIST.TITLES.MAIN" | transloco }}
    </h2>
    <button class="btn btn-primary" [routerLink]="['.', 'add']">
      {{ "KNOWLEDGEBASELIST.BUTTONS.ADD" | transloco }}
    </button>
  </div>
  <p class="list-page__description">
    {{ "KNOWLEDGEBASELIST.DESCRIPTIONS.MAIN" | transloco }}
  </p>
</div>

<div class="list-page__content">
  <hub-ui-table
    [headers]="headers"
    [loading]="paginatedData.isLoading()"
    [data]="paginatedData.value()"
    [searchable]="false"
    [options]="{ hoverableRows: true, scrollable: true }"
    [clickFn]="navigateTo.bind(this)"
    [(searchTerm)]="searchTerm"
    [(filters)]="dynamicFilters"
    [(ordination)]="ordination"
    [(perPage)]="perPage"
    [(page)]="page"
  >
    <ng-template cellTpt header="created_at" let-property="property">
      {{ formatDate(property) }}
    </ng-template>
    <ng-template noDataTpt>
      {{ "KNOWLEDGEBASELIST.EMPTY.NO_RESULTS" | transloco }}
    </ng-template>
  </hub-ui-table>
</div>
