<div class="container-fluid d-flex flex-column gap-4">
  <h1>{{ 'KNOWLEDGEBASELIST.TITLES.MAIN' | transloco }}</h1>

  <div class="d-flex justify-content-end gap-2">
    <button class="btn btn-primary" [routerLink]="['.', 'add']">
      {{ 'KNOWLEDGEBASELIST.BUTTONS.ADD' | transloco }}
    </button>
  </div>

  <hub-ui-table
    [headers]="headers"
    [loading]="paginatedData.isLoading()"
    [data]="paginatedData.value()"
    [searchable]="false"
    [searchable]="true"
    [options]="{ hoverableRows: true, scrollable: true }"
    [clickFn]="navigateTo.bind(this)"
    [(searchTerm)]="searchTerm"
    [(filters)]="dynamicFilters"
    [(ordination)]="ordination"
    [(perPage)]="perPage"
    [(page)]="page"
  >
    <ng-template cellTpt header="created_at" let-property="property">
      {{ formatDate(property) }}
    </ng-template>
    <ng-template noDataTpt>
      {{ 'KNOWLEDGEBASELIST.EMPTY.NO_RESULTS' | transloco }}
    </ng-template>
  </hub-ui-table>
</div>
