<div class="container-fluid py-4">
  <h1 class="mb-4">{{ formTitle() }}</h1>
  <form [formGroup]="form" (ngSubmit)="submit()" class="vstack gap-3">
    <div class="form-floating mb-3">
      <input
        id="name"
        type="text"
        formControlName="name"
        class="form-control"
        placeholder="{{ 'knowledgeBase.name' | transloco }}"
      />
      <label for="name">{{ "knowledgeBase.name" | transloco }}</label>
    </div>

    <div class="form-floating mb-3">
      <textarea
        id="description"
        formControlName="description"
        class="form-control"
        style="height: 120px"
        placeholder="{{ 'knowledgeBase.description' | transloco }}"
      ></textarea>
      <label for="description">{{
        "knowledgeBase.description" | transloco
      }}</label>
    </div>

    <div class="mb-3">
      <label class="form-label">{{
        "knowledgeBase.visibility" | transloco
      }}</label>
      <select formControlName="visibility" class="form-select">
        <option value="private">{{ "visibility.private" | transloco }}</option>
      </select>
      <div class="form-text">
        {{ "visibility.privateDesc" | transloco }}
      </div>
    </div>

    <div class="mb-3">
      <label class="form-label">{{ "knowledgeBase.groups" | transloco }}</label>
      <ng-select
        [items]="groups.value()"
        [loading]="groups.isLoading()"
        [loading]="false"
        bindLabel="name"
        bindValue="id"
        [multiple]="true"
        placeholder="{{ 'knowledgeBase.groups' | transloco }}"
        formControlName="groups"
      ></ng-select>
      @if (!groups.value()?.length) {
      <div class="form-text">
        No hay grupos con acceso, añade un grupo para otorgar acceso
      </div>
      }
    </div>

    <button type="submit" class="btn btn-primary btn-lg w-100">
      {{
        isEditMode()
          ? ("knowledgeBase.saveButton" | transloco)
          : ("knowledgeBase.saveButton" | transloco)
      }}
    </button>
  </form>
</div>
