<div class="container-fluid d-flex flex-column gap-4">
  <h1>{{ "AGENT_LIST.TITLES.MAIN" }}</h1>

  <div class="d-flex justify-content-end gap-2">
    <button class="btn btn-primary" [routerLink]="['.', 'add']">
      {{ "AGENT_LIST.BUTTONS.ADD" }}
    </button>
  </div>

  <hub-ui-table
    [headers]="headers"
    [loading]="paginatedData.isLoading()"
    [data]="paginatedData.value()"
    [searchable]="false"
  >
    <ng-template paginableTableCell header="pin" let-item="item">
      <button type="button" class="btn btn-link p-0" (click)="togglePin(item)">
        <i
          class="fa-solid fa-thumbtack"
          [class.text-warning]="isPinned(item)"
          [class.text-secondary]="!isPinned(item)"
        ></i>
      </button>
    </ng-template>
    <ng-template
      paginableTableCell
      header="meta.capabilities"
      let-property="property"
    >
      <div class="d-flex gap-2 flex-wrap">
        @for (capability of summarizeCapabilities(property); track $index) {
        <span class="badge rounded-pill text-bg-secondary">{{
          capability | titlecase
        }}</span>

        }
      </div>
    </ng-template>
    <ng-template paginableTableCell header="chat" let-item="item">
      <a [routerLink]="['./', item.id, 'chats']" class="btn btn-link p-0">
        {{ "AGENT_CHAT.CHATS" }}
      </a>
      <a
        [routerLink]="['./', item.id, 'chats', 'new']"
        class="btn btn-link p-0"
      >
        {{ "AGENT_CHAT.NEW_BUTTON" }}
      </a>
    </ng-template>

    <ng-template noDataTpt>
      {{ "AGENT_LIST.EMPTY.NO_RESULTS" }}
    </ng-template>
  </hub-ui-table>
</div>
