<!-- Toggle button for offcanvas menu -->
<button class="btn btn-light d-md-none m-2" (click)="toggleMenu()">
  <i class="bi bi-list"></i>
</button>

<!-- Offcanvas for mobile -->
<div
  class="offcanvas offcanvas-start"
  [class.show]="menuOpen()"
  tabindex="-1"
  [style.visibility]="menuOpen() ? 'visible' : 'hidden'"
>
  <div class="offcanvas-header">
    <button type="button" class="btn-close" (click)="toggleMenu()"></button>
  </div>
  <div class="offcanvas-body p-0">
    <app-aside (navigate)="toggleMenu()"></app-aside>
  </div>
</div>
@if (menuOpen()) {
<div
  class="offcanvas-backdrop fade show d-md-none"
  (click)="toggleMenu()"
></div>
}

<div class="private-layout">
  <div class="aside-container d-none d-md-block">
    <app-aside></app-aside>
  </div>
  <div class="main-content bg-light">
    <router-outlet></router-outlet>
  </div>
</div>
