<div class="container-fluid d-flex flex-column gap-4">
  <div class="d-flex justify-content-between align-items-center">
    <h1>{{ "AGENT_CHAT_LIST.TITLES.MAIN" }}</h1>
    <button class="btn btn-primary" [routerLink]="['./', 'new']">
      {{ "CHAT_LIST.NEW_CHAT_BUTTON" }}
    </button>
  </div>

  <hub-ui-table
    [headers]="headers"
    [loading]="paginatedData.isLoading()"
    [data]="paginatedData.value()"
    [searchable]="false"
    [clickFn]="goToChat.bind(this)"
  >
    <ng-template cellTpt header="updated_at" let-property="property">
      {{ formatDate(property) }}
    </ng-template>
    <ng-template noDataTpt>
      {{ "CHAT_LIST.NO_CHATS" }}
    </ng-template>
  </hub-ui-table>
</div>
