<div class="list-page__header">
  <div class="list-page__header-actions">
    <h2 class="list-page__title">
      {{ "MARKETPLACE.TITLES.MAIN" | transloco }}
    </h2>
  </div>
  <p class="list-page__description">
    {{ "MARKETPLACE.LABELS.MAIN_DESCRIPTION" | transloco }}
  </p>
</div>

<div class="list-page__content">
  <hub-ui-table
    class="list-page__table"
    [headers]="headers"
    [loading]="paginatedData.isLoading()"
    [data]="paginatedData.value()"
    [searchable]="false"
    [options]="{ hoverableRows: true, scrollable: true }"
    [clickFn]="startChat.bind(this)"
    [(searchTerm)]="searchTerm"
    [(filters)]="dynamicFilters"
    [searchable]="true"
    [debounce]="1024"
    [(ordination)]="ordination"
    [(perPage)]="perPage"
    [(page)]="page"
  >
    <ng-template
      paginableTableCell
      header="info.meta.profile_image_url"
      let-property="property"
      let-item="item"
    >
      <hub-avatar [src]="property" [name]="item.name" size="40"></hub-avatar>
    </ng-template>
    <ng-template
      paginableTableCell
      header="info.meta.description"
      let-property="property"
    >
      <p class="m-0 text-muted text-two-lines-ellipsis" [title]="property">
        {{ property }}
      </p>
    </ng-template>

    <ng-template noDataTpt>
      {{ "MARKETPLACE.LABELS.NO_AGENTS" | transloco }}
    </ng-template>
  </hub-ui-table>
</div>
